h1{
    color: #44BBA4;
    text-align: center; 
}

h3{
    text-align:center; 
}

.parrot {
    width: 30px; 
    height: auto;
    margin-right: 10px;
    margin-bottom: 0px;
}

.ril{
    color:#44BBA4;
    position: sticky;
    top: 0;
    background-color: #393E41;
    padding: 50px;
    font-size: 30px;
}

.flex{
    display:flex;
    justify-content: space-around;
    /* margin: -50px;  */
}

img{
    width: 300px; 
    height: 175px;
    object-fit: cover;
    margin-bottom: 20px; 
}

.pic3{
    object-fit: fill;

}

.resources{
    display:flex; 
    flex-direction: column; 
}

.interview{
    display:flex; 
    flex-direction: column; 
}

.linkedin{
    display:flex; 
    flex-direction: column; 
}


/* This ensures the page content has the same max-width as your navigation */
.page-container {
    max-width: 1200px; /* Set the max width to match your navigation width */
    margin: 0 auto;    /* Centers the content horizontally */
    padding: 20px;     /* Optional padding around the content */
}

/* Add this to ensure your content is responsive */
@media (max-width: 1200px) {
    .page-container {
        width: 100%;
        padding: 10px;  /* You can adjust padding for smaller screens */
    }
}